/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require owl.carousel
 *= require owl.theme.default
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import "bootstrap";
@import "font-awesome";

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", Helvetica, sans-serif;
	width:100%;
}

body, input, button {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.header-bar {
	height: 150px;
	margin-bottom: 1.5ex;
	/*background: #02c2b2ff;*/
}

.header-logo {
	float: left;
	margin-top: 10px;
	text-align: center;
	height: 90%;
}

.header-logo img {
	height: 100%;
}

.header-text {
	height: 70%;
	float: left;
	margin-top: 3ex;
	border-left: 3px solid #1ab3cdd8;
}

.header-text h3 {
	color: #1ab3cdd8; /* Color Base*/
	font-size: 2.3em;
	margin-top: 8px;
}

.header-menu {
	float: left;
	margin-top: 50px;
}

.fa-user {
	font-size: 1.4em;
}

.fa-shopping-cart {
	font-size: 1.4em;
}

.btn-outline-blue {
	color: #1ab3cdd8;
	border-color: #1ab3cdd8;
	transition: .3s;
}

.btn-outline-blue:hover {
	background: #1ab3cdd8;
	color: #fff;
	transition: .3s;
}

.nav-blue {
	background: #1ab3cdd8;
	padding: 0 auto;
}

.nav-menus {
	margin: 0 auto;
}

.nav-item {
	margin: 0 2em;
}

.navbar-nav .nav-item {
	color: #fff!important;
}

.mobile {
	display: none;
}

.box-carousel {
	width: 100%;
	margin-top: 4ex;
}

.box-product {
	height: 300px;
	margin-bottom: 2em;
	float: left;
}

.box-product:hover a {
	text-decoration: none;
}

.box-product:hover .product-image img {
	max-height: 100%;
	transition: .4s;
}

.item:hover a {
	text-decoration: none;
}

.item {
	margin: 0px 3ex;
}

.card {
	border: none;
}

a .card {
	color: #1c1c1c;
}

.card:hover img {
	opacity: 0.8;
	transition: .2s;
}

.card-body {
	min-height: 140px;
}

.card-title {
	min-height: 70px;
}

.card-text {
	background: #1ab3cdd8;
	color: #fff;
	padding: 1ex 0px;
	border-radius: 0.2em;
}

.card-text span {
	font-size: 0.7em;
	text-decoration: line-through;
}

.card-btn {
	margin: 0.1ex 0px;
	width: 100%;
}


/* Session Carousel Products */

@media(min-width: 768px) {
	.carousel-products .carousel-inner .active,
	.carousel-products .carousel-inner .active + .carousel-item,
	.carousel-products .carousel-inner .active + .carousel-item + .carousel-item,
	.carousel-products .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
		display: block;
		text-align: center;
	}
}

.carousel-products .carousel-inner .carousel-inner.active:not(.carousel-item-right):not(.carousel-item-left),
.carousel-products .carousel-inner .carousel-inner.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
.carousel-products .carousel-inner .carousel-inner.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
.carousel-products .carousel-inner .carousel-inner.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
	transition: none;
}


/* End Session Carousel Products */

.product {
	margin: 0px auto;
	width: 50%;
	text-align: center;
	font-family: "charter-bold-i", Arial, Helvetica, sans-serif;
}

.product-image {
	height: 160px;
}

.product-image img {
	max-height: 95%;
	margin: auto;
	transition: .4s;
}

.product-name {
	height: 40px;
	width: 90%;
	text-decoration: none;
	color: black;
	overflow: hidden;
}

.product-price {
	color: white;
	background: #1ab3cdd8; /* color base */
	height: 45px;
	width: 80%;
	border-radius: 0.5em;
	text-align: center;
}

.product-last-price {
	float: right;
	position: absolute;
	width: 90%;
	text-align: right;
	text-decoration: line-through;
	color: #1c1c1c;
	font-size: 100%;
	padding-left: 10%;
}

.product-btn {
	width: 50%;
	margin: 0 auto;
}

.btn-buy {
	width: 100%;
	background-color: #ff5722;
	font-size: 1.2em;
	color: #f2f2f2;
	margin-bottom: 2em;
}

.btn-buy:hover {
	color: #fff;
	background: #FF4000;
}

.btn-contact {
	width: 80%;
	text-align: center;
	background-color: #FE642E;
	font-size: 1.2em;
	color: #f2f2f2;
	margin-top: 2em;
	margin-left: 10%;
	margin-bottom: 2em;
}

.btn-contact:hover {
	color: #fff;
	background: #FF4000;
}

.label-text {
	margin: 6em auto;
	color: #1ab3cdd8;
	font-style: italic;
	border-bottom: solid 1px;
}

.label {
	margin-top: 10em;
	margin-bottom: 2.5em;
	clear: both;
}

.label img {
	width: 100%;
}

.sale a {
	float: left;
	margin-left: 15%;
	margin-top: -6%;
	display: block;
	position: relative;
	text-decoration: none;
	background: #02c2b2ff;
	color: #f2f2f2;
	padding: 1% 5%;
	font-size: 1.7em;
	border-radius: 0.5em;
}

.label-orange {
	width: 70%;
	margin: 1em auto;
	border-radius: 2em;
	color: #fff;
	background: #FE642E;
	padding: 0.5em 0.5em;
	text-align: center;
}

.budget {
	background-image: url('budget.png');
	background-size: 120%;
	background-repeat: no-repeat;
	padding: 0.5em;
}

.form-center {
	width: 45%;
	background-color: rgba(255,255,255,0.8);
	margin: 8em auto;
}

.form-center h1 {
	color: #fff;
	background: #FE642E; /* orange */
	background-color: rgba(247,101,22,0.8);
	padding: 0.5em 0.5em;
	text-align: center;
	margin-bottom: 1.5em;
}

.form-center h1 p {
	font-size: 0.5em;
	margin-top: 1em;
}

.form-center .form-group{
	padding: 0.5em 2em;
}

.btn-pink {
	width: 50%;
	background: #FA58D0;
	padding: 0.5em 1em;
	color: #fff;
	font-weight: bold;
	margin-bottom: 2em;
}

.btn-orange {
	width: 300px;
	background: #FE642E;
	padding: 0.5em 1em;
	font-size: 1.3em;
	color: #fff;
	font-weight: bold;
}

.btn-orange:hover {
	background: #FF4000;
	color: #fff;
}

.btn-blue {
	width: 300px;
	background: #02c2b2ff;
	padding: 0.5em 1em;
	font-size: 1.3em;
	color: #fff;
	font-weight: bold;
}

.btn-blue:hover {
	background: #04B4AE;
	color: #fff;
}

.show-product-image img {
	width: 80%;
}

.show-product-name {
	margin-top: 0.7em;
	font-size: 4em;
	font-weight: bold;
}

.show-product-price {
	font-weight: bold;
	color: #02c2b2ff; /* color base */
	font-size: 3em;
}

.show-product-price-offer {
	text-decoration: line-through;
}

.box-informations-order {
	float: left;
	padding-bottom: 3ex;
	padding-top: 3ex;
	border-bottom: solid 1px #d8d8d8;
}

.head-order {
	text-align: center;
}

.head-order h2 {
	font-weight: bold;
}

.item-order {
	border: solid 1px #e6e6e6;
}

.item-order img {
	margin: 1em;
	width: 150px;
}

.resume-order {
	text-align: right;
}

.account-options {
	width: 120px;
	background: #FE642E;
	padding: 0.5em;
	margin-top: 0em;
	border-radius: 0.5em;
	margin-top: 0.5em;
	position: absolute;
	z-index: 10;
	visibility: hidden;
}

.account-options a {
	color: #fff;
	text-decoration: none;
	padding: 0.3em;
	font-weight: bold;
	border-radius: 0.5em;
}

.account-options a:hover {
	background: #fff;
	color: #FE642E;
}

.finish-order {
	width: 90%;
	margin: 0.5em auto;
	font-size: 1.3em;
	background: #1ab3cdd8;
	font-weight: bold;
	color: #fff;
	padding: 1em;
	border-radius: 0.3em;
}

.footer {
	height: 300px;
	margin-top: 300px;
}

.payment-title h1 {
	font-weight: bold;
	text-align: center;
	font-size: 3em;
	margin-bottom: 3em;
}

.payment-method {
	float: left;
}

.payment-method p {
	text-align: center;
}

.payment-method img {
	width: 30%;
}

.footer-down {
	margin-top: 3em;
	padding-top: 2ex;
	background: #1ab3cdd8; /* color base */
	min-height: 200px;
}

.footer-menu {
	font-size: 1.5em;
	text-align: center;
}

.footer-menu span {
	padding: 0.2em 1.7em;
}

.footer-menu a {
	text-decoration: none;
	color: #fff;
	padding-bottom: 5px;
}

.footer-menu a:hover {
	border-bottom: solid #fff 2px;
}

.copyright {
	color: #fff;
	text-align: center;
	margin-top: 0.5em;
}

/* panel Admin Styles */

.head-admin {
	height: 100%;
	margin-bottom: 3em;
	background: #1ab3cdd8; /* color base */
	color: #fff;
}

.head-admin img {
	float: left;
	width: 100px;
	margin: 1em;
}

.head-admin .menu-admin {
	margin-top: 3em;
	float: right;
	margin-right: 2em;
}

.box-admin {
	width: 100%;
	padding: 1em;
}

.form-admin {
	width: 70%;
	margin: 0 auto;
}

.label-admin {
	text-align: center;
	margin-bottom: 1em;
}

.options {
	margin-bottom: 1em;
}

.btn-icon a {
	color: #1c1c1c;
	font-size: 1.2em;
	margin-right: 1ex;
}

.box-confirm {
	width: 90%;
	height: 150px;
	border: solid 1px #e6e6e6;
	border-radius: 0.5em;
	margin: 2em auto;
	text-align: center;
}

.contact-container {
	width: 80%;
	margin: 1ex auto;
	padding: 3ex 5ex;
	line-height: 2em;
	border: solid 1px #e6e6e6;
}

/* end panel style */


/* ----- display small ------------ */

@media(max-width: 990px) {

	header {
		display: none;
	}

	.mobile {
		display: block;
	}

	.nav-blue {
		min-height: 150px;
	}

	.logo-mobile {
		margin: 0.5em;
	}

	.navbar-toggler-icon {
		color: #fff;
	}

	.nav-link {
		color: #fff;
	}

	.form-inline {
		width: 90%;
		margin: 0 auto;
	}

	.btn-outline-blue {
		color: #fff;
		border-color: #fff;
	}

	.mycarousel {
		display: none;
	}

	.product img {
		width: 60%;
	}

	.label img {
		width: 100%;
	}

	.box-product:hover img {
		width: 60%;
	}

	.label a {
		font-size: 1.2em;
	}

	.form-center h1 {
		font-size: 1.2em;
	}

	.card-title {
		min-height: 85px;
	}
}